<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Jovian careers</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <style>
      #pic{
        height:360px;
        width :100% ;
        object-fit:cover;
      }
    </style>
  </head>
  <body>
    {%include 'nav.html'%}
  <div class = "container">
		<h1 class = "text-center mt-2 mb-4">
      Jovian Careers
    </h1>
    <img class = "image-fluid" id = "pic" src = "https://webdev-jovian.vasu123567.repl.co/static/webdev.jpg">
    <h3 class = "text-center mt-4 mb-2">
      About Jovian
    </h3>
    <p class = "lead"> 
      Jovian is a premier institution offering career education; career information, advice and guidance; career coaching. “Find out what you like doing best, and get someone to pay you for doing it".Career is a very important thing in one's life. Whatever career path you choose to follow, it will impact your life greatly. Your career will define your status in a society in addition to your lifestyle. In other words, your career will determine your social circle and relationships
    </p>
     <h3 class = "text-center mt-2 mb-4">
       Job Openings
    </h3>
    {% for job in jobs %}
    <div class='border-bottom row' style='margin-bottom:16px;padding-bottom:4px;'>
      <div class="col-9">
      <h4 style = "colour:rgb{120,120,120};margin-top:4px">{{job['Title']}}</h4>
      <div ><b style ="margin-top:0px">Location: {{job['location']}}</b></div>
    {% if 'Salary' in job %}
    <div><b style = "margin-top-2px">Salary:{{job['Salary']}}</b></div>
    {%endif%}
      </div>
      <div class='col-3'>
      <a href=" mailto:vasudevnigadecr7@gmail.com?subject=JOB%20APPLICATION&body=Name%20%3A%0D%0A%0D%0ADesignation%3A%0D%0A%0D%0AApplication%20for%3A%0D%0A%0D%0AGithub%20Link%3A " type="button" class="btn btn-primary float-lg-end style="margin-top:2px" disabled>Apply</a>
      </div>
    </div>
      {% endfor %}
    
    
      <p class = "text-center">@copywright jovian</p>
      <div class = "text-center">
    <button class="btn btn-primary btn-lg">Contact us</button>
      </div>
  </div>
  </body>
</html>
